@model IEnumerable<WorkOrder>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<h2>Geocoding</h2>
@{    
    var latList = new List<double>();
    var lngList = new List<double>();
    foreach (var workOrder in Model)
    {
        if(workOrder.Location != null)
        {
            latList.Add(workOrder.Location.Lat);
            lngList.Add(workOrder.Location.Lng);
        }

    }
}
<div id="map"></div>

<script>

        var lats = JSON.parse('@Html.Raw(Json.Encode(latList))')
    var lngs = JSON.parse('@Html.Raw(Json.Encode(lngList))')

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: { lat: -34.397, lng: 150.644 }
        });

        for (let i = 0; i < lats.count && i < lngs.count; i++) {
            let post = {lat: lats[i], lng: lngs[i]}
            let marker = new google.maps.Marker({position: post, map: map})
        }
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBycNjxsf61mG3nhPLvyHRUb2MuMHoFipk&callback=initMap"
        async defer></script>*@


<hr />
<div class="row">
    @if (User.IsInRole(RoleName.Manager) || User.IsInRole(RoleName.Technician))
    {
        <div class="col-md-2">
            <h4>Additional Views</h4>
            <ul>
                <li>@Html.ActionLink("My Work Orders", "MyWorkOrders")</li>
                <li>@Html.ActionLink("Open", "Open")</li>
                <li>@Html.ActionLink("New", "Status", new { id = "NEW" })</li>
                <li>@Html.ActionLink("Assigned", "Status", new { id = "Assigned" })</li>
                <li>@Html.ActionLink("In Progress", "Status", new { id = "IN PROGRESS" })</li>
                <li>@Html.ActionLink("Closed", "Closed")</li>
                <li>@Html.ActionLink("All Work Orders", "Index")</li>
            </ul>
        </div>
    }
    else
    {
        <div class="col-md-2">
            <h4>Additional Views</h4>
            <ul>
                <li>@Html.ActionLink("Open", "Open")</li>
                <li>@Html.ActionLink("Closed", "Closed")</li>
                <li>@Html.ActionLink("All Work Orders", "Index")</li>
            </ul>
        </div>
    }
    <div class="col-md-10">
        <table id="workorders" class="table table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    <th>WO #</th>
                    <th>Requestor</th>
                    <th>Location</th>
                    <th>Category</th>
                    <th>Subject</th>
                    <th>Status</th>
                    <th>Modified</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var workOrder in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(workOrder.Id.ToString(), "Details", new { id = workOrder.Id }, null)</td>
                        <td>@(workOrder.Requestor != null ? workOrder.Requestor.NameFirstLast : "-")</td>
                        @if(workOrder.Location != null)
                        {
                        <td>@workOrder.Location.Name<br />@workOrder.Location.City, @workOrder.Location.State</td>
                        }
                        else
                        {
                            <td>-</td>
                        }
                        <td>@(workOrder.Category != null ? workOrder.Category.Name : "-")</td>
                        <td>@workOrder.Subject</td>
                        <td title="@workOrder.StatusDateTime.ToString("MM/dd/yyyy HH:mm")">@workOrder.Status.Name</td>
                        <td>@workOrder.ModifiedDateTime.ToString("MM/dd/yy HH:mm")</td>
                        <td>@workOrder.CreateDateTime.ToString("MM/dd/yy HH:mm")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#workorders").DataTable();
        })
    </script>
}