@model HelpCenter.Models.ViewModels.LeaseHolderViewModel
@{ ViewBag.Title = "Edit " + Model.LeaseHolder.NameFirst + " " + Model.LeaseHolder.NameLast + " - User Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Edit", "LeaseHolder", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    <div class="form-group">
        @Html.LabelFor(l => l.LeaseHolder.NameFirst, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(l => l.LeaseHolder.NameFirst, new { @class = "form-control" })
        </div>
        @Html.LabelFor(l => l.LeaseHolder.NameLast, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(l => l.LeaseHolder.NameLast, new { @class = "form-control" })
        </div>
        @Html.LabelFor(l => l.LeaseHolder.PhoneNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(l => l.LeaseHolder.PhoneNumber, new { @class = "form-control" })
        </div>
        @Html.LabelFor(l => l.LeaseHolder.LocationId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(l => l.LeaseHolder.LocationId, new SelectList(Model.Locations, "Id", "Name"), "Select Location", new { @class = "form-control" })
        </div>
        @Html.LabelFor(l=> l.LeaseHolder.UnitId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(l => l.LeaseHolder.Unit.Number, new { @class = "form-control" })
        </div>
    </div>
}