@model HelpCenter.Models.ViewModels.LeaseHolderViewModel
@{ ViewBag.Title = "Edit " + Model.LeaseHolder.NameFirst + " " + Model.LeaseHolder.NameLast + " - User Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Edit", "LeaseHolder", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    <div class="form-group">
        @Html.LabelFor(l => l.LeaseHolder.NameFirst, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(l => l.LeaseHolder.NameFirst, new { @class = "form-control" })
        </div>
        @Html.LabelFor(l => l.LeaseHolder.NameLast, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(l => l.LeaseHolder.NameLast, new { @class = "form-control" })
        </div>
        @Html.LabelFor(l => l.LeaseHolder.PhoneNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(l => l.LeaseHolder.PhoneNumber, new { @class = "form-control" })
        </div>
        @Html.LabelFor(l => l.LeaseHolder.LocationId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(l => l.LeaseHolder.LocationId, new SelectList(Model.Locations, "Id", "Name"), "Select Location", new { @class = "form-control" })
        </div>
    @Html.LabelFor(m => m.LeaseHolder.UnitId, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.LeaseHolder.UnitId, new SelectList(string.Empty, "Value", "Text"), "Select Unit", new { @class = "form-control" })
            </div>
        </div>        
  
}

@section scripts {
    <script>
        $(document).ready(function () {
            $('#LeaseHolder_LocationId').change(function () {
                $('#LeaseHolder_UnitId option').remove();
                $('#LeaseHolder_UnitId').append('<option value=null> N/A </option>');
                $.getJSON('/workorder/GetUnitsByLocationId', { locationId: $('#LeaseHolder_LocationId').val() }, function (data) {
                    $.each(data, function () {
                        $('#LeaseHolder_UnitId').append('<option value=' + this.Id + '>' + this.Number + '</option>');
                    });
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert('Error retrieving units. ' + textStatus + " " + errorThrown);
                });
            });
        });
    </script>}